<nav>
  <ul>
    <% if user_signed_in? %>
      <li><%= current_user.account %></li>
      <li><%= link_to "登出", sign_out_users_path, method: 'delete' %></li>
    <% else %>
      <li><%= link_to "登入", sign_in_users_path %></li>
      <li><%= link_to "註冊", sign_up_users_path %></li>
    <% end %>
  </ul>
</nav>