<nav>
  <ul>
    <% if user_signed_in? %>
      <li><%= current_user.account %></li>
      <li><%= link_to "登出", sign_out_users_path, method: 'delete' %></li>
    <% else %>
      <li>登入</li>
      <li>註冊</li>
    <% end %>
  </ul>
</nav>