<h1>看板</h1>

<%= link_to "新增看版", new_board_path %>

<ul>
  <% @boards.each do |board| %>
    <li>
      <%= link_to board.title, board_path(board) %>
      <%= link_to "編輯", edit_board_path(board) %>
    </li>
  <% end %>
</ul>